[Unit]
Description=Hello World console application
[Service]
ExecStart=/usr/bin/dotnet /var/www/app/Administration.dll
SyslogIdentifier=Administration
User=student
Environment=DOTNET_ROOT=/usr/lib64/dotnet
[Install]
WantedBy=multi-user.target
